{% extends '::base.html.twig'%}
{% block body %}
    {{ app.user.username }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
    <ul>
        <li><a href="{{ path('itech_sup_list_questionnaire') }}" >Liste des questionnaire</a></li>
    </ul>
{% block content %}{% endblock %}
{% endblock %}

