{% extends 'ItechSupQuestionnaireBundle::layout.html.twig'%}
{% block content %}
    <h1>{{questionnaire.title()}}</h1>
    <ul>
        {% for categorie in questionnaire.categories %}
            <li>{{categorie.title()}}</li>
            <ul>
                {% for question in categorie.questions %}
                    <li>{{question.title()}}</li>
                    <li>{{question.averageOfReponses()}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}